In [6]:
#inserting an element in the list
list=[1,2,3,4,5]
list.insert(len(list),6)
print(list)

[1, 2, 3, 4, 5, 6]

In [7]:
list.insert(0, 0)
print(list)

[0, 1, 2, 3, 4, 5, 6]

In [14]:
list.insert(3, 5)
print(list)

[0, 1, 2, 5, 5, 3, 4, 5, 6]

In [8]:
#swapping two elements in a list
def swap(list_name, pos1, pos2):
    element=list_name[pos1]
    list_name[pos1]=list_name[pos2]
    list_name[pos2]=element
    
list1=[1,2,3,4,5,6,7,8,9]
swap(list1, 2, 5)
print(list1)

[1, 2, 6, 4, 5, 3, 7, 8, 9]

In [9]:
list2=['a','b','c','d','e','f']
swap(list2, 3, 5)
print(list2)

['a', 'b', 'c', 'f', 'e', 'd']

In [12]:
#finding the max of a list
print(max(list1))

9

In [15]:
#find the min of a list
print(min(list1))

1

In [16]:
# deleting an element in the list
list1.remove(9)
print(list1)

[1, 2, 6, 4, 5, 3, 7, 8]

In [17]:
list1.remove(3)
print(list1)

[1, 2, 6, 4, 5, 7, 8]

In [22]:
#reversing a list
print(list1[len(list1)::-1])

[8, 7, 5, 4, 6, 2, 1]

In [23]:
#coping a list
list2=[i for i in list1]
print(list2)

[1, 2, 6, 4, 5, 7, 8]

In [24]:
#sum of elements in the list
print(sum(list1))

33

In [26]:
#multiplying all the elements in list 1
def multiply(list_name):
    ans = 1
    for i in list_name:
        ans*=i
        
    return ans
        
print(multiply(list1))

13440

In [28]:
# finding the second largest number in alist
list1.sort()
print(list1)
print(list1[-2])

[1, 2, 4, 5, 6, 7, 8]
7